/* GLOBAL STYLES */
body {
  font-family: Helvetica, arial, sans;
  background-color: #ffff99;
}
strong {
  font-size: 1.2em;
  font-weight: normal;
  color: orangered;
}
ul {
  list-style-type: none;
}

/* HEADER STYLES */
.header-logo {
  font-weight: bold;
}
.header {
  background-color: #ffffcc;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
}
.header a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.header a:hover,
.header a:active {
  color: orangered;
}
.header-nav {
  float: right;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid black;
  padding-left: 1em;
}

/* FOOTER STYLES */
.footer {
  background-color: #ffffcc;
  text-align: center;
  padding-bottom: 1em;
}
.footer-menu {
  margin-top: 1em;
  padding: 1.5em;
}
.footer-links a {
  color: #000;
  text-decoration: none;
}
.footer-links a:hover, 
.footer-links a:active {
  color: orangered;
}
.footer-links > li {
  display: inline-block;
  margin-left: 1em;
}
.footer-links > li ~ li {
  border-left: 1px solid black;
  padding-left: 1em;
}

/* CONTACT INFO */
.contact {
  margin: 1em;
  text-align: center;
  line-height: 1.5;
}
.contact h2 {
  font-size: 2em;
}

/* HERO STYLES */
.hero {
  box-sizing: border-box;
  height: 60vh;
  padding: 1.5em;
  text-align: center;
}
.hero h1 {
  font-size: 2.3em;
  margin: 0.6em;
}
.profile-picture {
  border-radius: 50%;
  height: 200px;
}

/* SOCIAL LINKS */
.social-links li {
  display: inline-block;
  margin: 1em;
}
.social-links li:hover {
  background-color: orangered;
}

/* HOME STYLES */
.profile-content {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 3em auto;
  width: 50vw;
}
.summary {
  border-bottom: 1px dashed black;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.summary h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
.strengths {
  box-sizing: border-box;
  padding-right: 3em;
  float: left;
  width: 50%;
}
.skill-to-improve {
  box-sizing: border-box;
  padding-left: 3em;
  float: right;
  width: 50%;
}
.col-2 {
  border-bottom: 1px dashed black;
  padding-bottom: 3em;
  margin-bottom: 3em;
  overflow: hidden;
}
.extras {
  border-bottom: 1px dashed black;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.extras p  {
  margin-bottom: 1em;
}
.vision {
  padding-bottom: 3em;
  margin-bottom: 3em;
  text-align: center;
}
.vision h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em; 
}

/* CV STYLE */
.cv {
  text-align: center;
}

/* ABOUT STYLE */
.biography {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 3em auto;
  width: 50vw;
}
.biography h1 {
  font-size: 2.3em;
  margin: 0.6em;
  text-align: center;
}
.biography p {
  margin: 1em 0;
}
.biography h2 {
  font-size: 2em;
  margin: 0.6em;
  text-align: center;
}
.biography h3 {
  font-size: 1.3em;
  text-align: center;
}
.music li {
  text-align: center;
}
.biography img {
  width: 400px;
}
.music-note {
  overflow: hidden;
  height: 55px;
  background-image: url("https://raw.githubusercontent.com/pedrog1997/pedrogomez/master/media/note.png");
  background-repeat: repeat;
  background-size: 35px, 35px;
  margin: 3em 0;
}
.music-note img {
  width: 35px;
  margin-bottom: 3em;
}
.image {
  text-align: center;
}
